
h1 {
	font-family: "Georgia";
	font-size:300%;
	color:#3498DB;
}
header {
	padding: 1em;
	background-color: #212F3D;
	clear: left;
	text-align: center;
}
.button-holder {
	text-align: center;
}
a {
	background-color: #3498DB;
	border-radius: 5px;
	padding: 10px;
	padding-right: 20px;
	padding-left:20px;
	text-decoration: none;
	color:white;
	font-family: Impact;
	box-shadow: 5px 5px 5px grey;
	text-align: center;
}
.class {
	float:left;
	padding: 20px;
	border-radius: 5px;
}
p {
	font-family: "Lucida Console"
}
body {
	background-color: #EAEDED;  
	padding-right: 0px;
	margin: 0px;
}
p {
	color: #3498DB;
	padding: 10px;
}
.image {
	padding: 40px;
	margin: 40px;
	border-radius: 4px;
}